.carritoCont{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 2px solid #1a1a1a;
}
.carritoInfo {
    position: relative;
    display: flex;
    align-items: center;
    margin: 24px;
    width: 50vw;
    height: fit-content;
}

.carritoInfo img {
    width: 280px;
    z-index: 0;
}

.carritoDet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
}

.carritoDet h1 {
    font-size: 28px;
    padding: 0 0 15px 0;
}

.btnBorrar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 24px;
    border: none;
    background-color: #fff;
}

.btnBorrar svg {
    width: 24px;
    height: 24px;
    transition: 200ms ease-in-out all;
}

.btnBorrar svg:hover {
    transform: scale(1.2);
}

.finalizarCompra {
    display: flex;
    justify-content: space-around;
    margin: 24px;
}

.finalizarCompra .btn {
    width: 20%;
}
.Total {
    font-size: 18px;
    font-weight: bold;
}

.err {
    display: flex;
    height: 70vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carritoCheck {
    display: flex;
    height: 40vh;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    padding: 24px;
}

.carritoCheck p {
    font-size: 24px;
    margin-top: 6px;
    font-weight: bold;
}

.carritoCheck .btn {
    font-size: 18px;
}

.cartCont {
    position: relative;
  }
  
  .cantidadcart {
    position: absolute;
    top: -10%;
    right: -10%;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    color: #fff;
  }
  
  .cantidadcart p {
    color: #fff;
    background-color: red;
    font-size: 20px;
    width: 30px;
    border-radius: 50%;
  
  }

  .Cartbutton{
    margin: 5px;
  }

  .EliminarTodo {
    display: flex;
    justify-content: center;
    margin: 12px;
    
  }