.watchmeport {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .portada {
    height: 90vh;
  }
  
  .textcont {
    position: absolute;
    top: 25%;
    left: 60%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }
  
  .portTitle {
    color: #fff;
    font-size: 5rem;
    font-family: 'Gideon Roman', cursive;
    letter-spacing: 24px;
  }
  
  .portDesc {
    font-family: 'Gideon Roman', cursive;
    letter-spacing: 6px;
  }
  
  .btnPort {
    position: absolute;
    z-index: 2;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 1rem;
    padding: 15px 10px 15px 10px;
    width: 320px;
    height: fit-content;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    margin: 15px 0 15px 0;
    gap: 16px;
    background-color: #1a1a1a;
  }

  .NewText {
    color: #fff;
    font-size: 24px;
    letter-spacing: 2px;
  }

  .NewInput{
    width: 20%;
  }

  .arrowcont {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 10%;
    margin: auto;
    width: fit-content;
    animation: 800ms infinite arrowanimated;
  }

  .arrowWithe {
    fill: #fff;
  }

  @keyframes arrowanimated {
    0% {
      bottom: 10%;
    }
    15% {
      bottom: 9%;
    }
    30% {
      bottom: 8%;
    }
    45% {
      bottom: 7%;
    }
    60% {
      bottom: 8%;
    }
    75% {
      bottom: 9%;
    }
    100% {
      bottom: 10%;
    }
  }