.productcont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin: 0 10rem 0 10rem;
}

.info {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: start;
    padding: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: all 0.5s ease;
}

.info span {
    font-size: 26px;
    margin-bottom: 1.2rem;
    color: #f5fbfd;
    font-weight: bold;
}

.infoIcon {
    display: flex;
}

.info:hover{
    opacity: 1;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 12px;
    height: fit-content;
    position: relative;
}

img {
    z-index: 2;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    transition: all 0.5s ease;
}


.icon:hover{
    background-color: #d2d2d2;
    transform: scale(1.1);
}

.precio {
    margin-top: 4rem;
    font-size: 24px;
    color: #f5fbfd;
    font-weight: bold;
}

.detallesprod {
    display: flex;

}

.nombreprod {
    font-size: 22px;
    width: 90%;
}

.precioprod {
    font-weight: bold;
    font-size: 18px;
}